          <footer class="post-footer">
            <section class="share">
              <span style="font-size: 125%;font-weight:bold;">Share this post</span>
              {% for social in site.social %}
                {% if social.share_url != null %}
                  <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | cgi_escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
                    onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                  <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
                  </a>
                {% endif %}
              {% endfor %}
              <hr>
            </section>
            {% include disqus.html %}
          </footer>
