<!DOCTYPE html>
<html>
  {% include head.html %}
  <body{% if page.itemtype %} itemscope itemtype="{{page.itemtype}}"{% endif %}>
    {% include header.html %}

    <!-- content start -->

    <main class="content" role="main">
      <article class="post">
        <div class="{% if page.image %}article-image{% else %}noarticleimage{% endif %}">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})"></div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author }}</h4>
              {% if page.includeTimeTags %}
                on
                <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
                <!--, tagged on
                {% for tag in page.tags %}
                  <span class="post-tag-{{tag}}">
                    {% if forloop.first %}
                    {% else %}
                      ,
                    {% endif %}
                    <a href="/tag/{{tag}}">{{tag}}</a>
                  </span>
                {% endfor %}
                -->
              {% endif %}
            </div>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        <section class="post-content">
          <div class="post-reading">
            <i class="fa fa-clock-o"></i>
             <span class="post-reading-time"></span> read
          </div>
          <a name="topofpage"></a>
          {{content}}
        </section>
        {% if page.includePostFooter %}
          <footer class="post-footer">
            <section class="share">
              {% for social in site.social %}
                {% if social.share_url != null %}
                  <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | cgi_escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
                    onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                  <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
                  </a>
                {% endif %}
              {% endfor %}
            </section>
            <section id="disqus_thread" class="share"></section>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          </footer>
          <div class="bottom-teaser cf">
            <div class="is-left">
              <h5 class="index-headline featured"><span>Written by</span></h5>
              <section class="author">
                <div class="author-image" style="background-image: url({{site.author_image}})">Blog Logo</div>
                <h4>{{ site.author }}</h4>
                <p class="bio">{{author.bio}}</p>
                <hr>
                <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
              </section>
            </div>
            {{ post }}
            <div class="is-right">
              <h5 class="index-headline featured"><span>Supported by</span></h5>
              {% include footer.html %}
            </div>
          </div>
        {% endif %}
      </article>
    </main>

    <!-- content end -->

    {% include footer.html %}
    {% include bottomcloser.html %}
    {% include javascripts.html %}

  </body>
</html>
